@model MVCDemoLab.Models.Category

<h1> Create Category</h1>
@* <form method="post" action="/Categories/Create">
  Name   <input type="text" name="Name" />

  <input type="submit" value="Create" />
</form> *@

@using (Html.BeginForm("Create", "Categories", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
@*     <label for="Name"></label>
    <input type="text" name="Name" /> *@
    <br />
    @Html.LabelFor(m => m.Name);
    @Html.TextBoxFor(m => m.Name);
    <embed />
    @Html.LabelFor(m => m.Description);
    @Html.EditorFor(m => m.Description);
    <br />
    <input type="submit" value="Create" />
}




<br />
<a href="/Categories/Index" >Back to List</a>
